<%- include('../partials/head') %>

<div class="modal-content rounded-4 shadow container mt-5" style="max-width: 600px;">
  <div class="modal-header p-5 pb-4 border-bottom-0">
    <h1 class="fw-bold mb-0 fs-2">Add a new Story</h1>
  </div>
  <div class="modal-body p-5 pt-0">
    <form action="/story" method="POST">
      
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control rounded-3"
          id="title"
          name="title"
          placeholder="Story Title"
          required
        />
        <label for="title">Story Title</label>
      </div>

      <!-- <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control rounded-3"
          id="date"
          name="date"
          placeholder="Date"
        />
        <label for="date">Date</label>
      </div> -->

      <div class="form-floating mb-3">
        <!-- <input
          type="text"
          class="form-control rounded-3"
          id="genre"
          name="genre"
          placeholder="Genre"
        /> -->

     <select
        class="form-select rounded-3"
        id="genre"
        name="genre"
        aria-label="Select genre"
      >
        <!-- <option value="" selected disabled>Choose genre<option> -->
        <option value="Horror">Horror</option>
        <option value="Drama">Drama</option>
        <option value="Comedy">Comedy</option>
        <option value="Adventure">Adventure</option>
        <option value="Fantasy">Fantasy</option>
  </select>
  <label for="genre">Genre</label>
      </div>

      <div class="form-floating mb-4">
        <textarea
          class="form-control rounded-3"
          placeholder="Write your story here"
          id="story"
          name="story"
          style="height: 150px"
        ></textarea>
        <label for="story">The story</label>
      </div>

      <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">
        Create story
      </button>
    </form>
  </div>
</div>

    </form>
  </body>
</html>
