<%- include('partials/head') %>

<% if (user) { %>
  <h1>Welcome to the app, <%= user.username %>!</h1>
 <a class="custom-link" href="/auth/sign-out">Sign out</a></br>
<a class="custom-link" href="/story/new">Add a Story</a>

<% } else { %>
  <h1>Welcome to the app, guest.</h1>
 <p>
  <a class="custom-link" href="/auth/sign-up">Sign up</a> or
  <a class="custom-link" href="/auth/sign-in">sign in</a>.
</p>

<% } %>

</body>
</html>
